<ul id="menu">
    <li>
        <button (click)="showScreenOverlay()">
            <i class="material-icons">sort_by_alpha</i>
        </button>
    </li>
</ul>

<div class="screen-overlay hide">
    <ul id="index-musics">
        <li>
            <button (click)="filterByArtist('0')">#</button>
        </li>
        <li>
            <button>A</button>
        </li>
        <li>
            <button (click)="filterByArtist('B')">B</button>
        </li>
        <li>
            <button (click)="filterByArtist('C')">C</button>
        </li>
        <li>
            <button>D</button>
        </li>
        <li>
            <button>E</button>
        </li>
        <li>
            <button>F</button>
        </li>
        <li>
            <button>G</button>
        </li>
        <li>
            <button>H</button>
        </li>
        <li>
            <button>I</button>
        </li>
        <li>
            <button>J</button>
        </li>
        <li>
            <button>K</button>
        </li>
        <li>
            <button>L</button>
        </li>
        <li>
            <button>M</button>
        </li>
        <li>
            <button>N</button>
        </li>
        <li>
            <button>O</button>
        </li>
        <li>
            <button (click)="filterByArtist('P')">P</button>
        </li>
        <li>
            <button>R</button>
        </li>
        <li>
            <button>S</button>
        </li>
        <li>
            <button>T</button>
        </li>
        <li>
            <button>U</button>
        </li>
        <li>
            <button>V</button>
        </li>
        <li>
            <button>X</button>
        </li>
        <li>
            <button>W</button>
        </li>
        <li>
            <button>Y</button>
        </li>
        <li>
            <button>Z</button>
        </li>
    </ul>   
</div>
